.grid-container {
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "header header header"
    "navbar main main"
    "navbar main main"
    "navbar main main";
}

.header {
  grid-area: header;
}

.navbar {
  grid-area: navbar;
}

.main {
  grid-area: main;
}
